In [8]:

full_llm_response_text=""" think content  </think> ```python  code content ```python """

split_content=full_llm_response_text.split("</think>")
think_content=split_content[0].strip()
code_content=split_content[1].strip()
print("Think Content:")
print(think_content)
print("\nCode Content:")
print(code_content)

Think Content:
think content

Code Content:
```python  code content ```python

UsageError: Line magic function `%` not found.

In [11]:
# 读取h5文件
import h5py
import os

path="/u01/mengpengyu/SciCode/tests/test_data.h5"
def print_hdf5_structure(name, obj):
    """
    回调函数，用于打印 HDF5 文件中每个条目的名称和类型。
    """
    indent = '  ' * name.count('/') # 根据层级进行缩进
    if isinstance(obj, h5py.Group):
        print(f"{indent}Group: {name} (keys: {list(obj.keys())})")
    elif isinstance(obj, h5py.Dataset):
        print(f"{indent}Dataset: {name} (shape: {obj.shape}, dtype: {obj.dtype})")
    else:
        print(f"{indent}Unknown: {name} (type: {type(obj)})")

# 读取h5文件
with h5py.File(path, 'r') as f:
    print(f"Inspecting HDF5 file: {path}")
    f.visititems(print_hdf5_structure)

Inspecting HDF5 file: /u01/mengpengyu/SciCode/tests/test_data.h5
Group: 1.1 (keys: ['test1', 'test2', 'test3'])
  Group: 1.1/test1 (keys: ['var1'])
    Dataset: 1.1/test1/var1 (shape: (7,), dtype: float64)
  Group: 1.1/test2 (keys: ['var1'])
    Dataset: 1.1/test2/var1 (shape: (7,), dtype: float64)
  Group: 1.1/test3 (keys: ['var1'])
    Dataset: 1.1/test3/var1 (shape: (7,), dtype: float64)
Group: 10.1 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.1/test1 (keys: ['var1'])
    Dataset: 10.1/test1/var1 (shape: (), dtype: float64)
  Group: 10.1/test2 (keys: ['var1'])
    Dataset: 10.1/test2/var1 (shape: (), dtype: float64)
  Group: 10.1/test3 (keys: ['var1'])
    Dataset: 10.1/test3/var1 (shape: (), dtype: float64)
  Group: 10.1/test4 (keys: ['var1'])
    Dataset: 10.1/test4/var1 (shape: (), dtype: float64)
Group: 10.10 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.10/test1 (keys: ['var1'])
    Dataset: 10.10/test1/var1 (shape: (), dtype: float64)
  Group: 10.10/test2 (keys: ['var1'])
    Dataset: 10.10/test2/var1 (shape: (), dtype: float64)
  Group: 10.10/test3 (keys: ['var1'])
    Dataset: 10.10/test3/var1 (shape: (), dtype: float64)
  Group: 10.10/test4 (keys: ['var1'])
    Dataset: 10.10/test4/var1 (shape: (), dtype: float64)
Group: 10.11 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.11/test1 (keys: ['var1'])
    Dataset: 10.11/test1/var1 (shape: (), dtype: float64)
  Group: 10.11/test2 (keys: ['var1'])
    Dataset: 10.11/test2/var1 (shape: (), dtype: float64)
  Group: 10.11/test3 (keys: ['var1'])
    Dataset: 10.11/test3/var1 (shape: (), dtype: float64)
  Group: 10.11/test4 (keys: ['var1'])
    Dataset: 10.11/test4/var1 (shape: (), dtype: float64)
Group: 10.2 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.2/test1 (keys: ['var1'])
    Dataset: 10.2/test1/var1 (shape: (27, 3), dtype: float64)
  Group: 10.2/test2 (keys: ['var1'])
    Dataset: 10.2/test2/var1 (shape: (27, 3), dtype: float64)
  Group: 10.2/test3 (keys: ['var1'])
    Dataset: 10.2/test3/var1 (shape: (27, 3), dtype: float64)
  Group: 10.2/test4 (keys: ['var1'])
    Dataset: 10.2/test4/var1 (shape: (27, 3), dtype: float64)
Group: 10.3 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.3/test1 (keys: ['var1', 'var2'])
    Dataset: 10.3/test1/var1 (shape: (0, 3), dtype: float64)
    Dataset: 10.3/test1/var2 (shape: (0,), dtype: float64)
  Group: 10.3/test2 (keys: ['var1', 'var2'])
    Dataset: 10.3/test2/var1 (shape: (6, 3), dtype: float64)
    Dataset: 10.3/test2/var2 (shape: (6, 2), dtype: int32)
  Group: 10.3/test3 (keys: ['var1', 'var2'])
    Dataset: 10.3/test3/var1 (shape: (1, 3), dtype: float64)
    Dataset: 10.3/test3/var2 (shape: (1, 2), dtype: int32)
  Group: 10.3/test4 (keys: ['var1', 'var2'])
    Dataset: 10.3/test4/var1 (shape: (28, 3), dtype: float64)
    Dataset: 10.3/test4/var2 (shape: (28, 2), dtype: int32)
Group: 10.4 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.4/test1 (keys: ['var1'])
    Dataset: 10.4/test1/var1 (shape: (1, 1), dtype: float64)
  Group: 10.4/test2 (keys: ['var1'])
    Dataset: 10.4/test2/var1 (shape: (4, 4), dtype: float64)
  Group: 10.4/test3 (keys: ['var1'])
    Dataset: 10.4/test3/var1 (shape: (2, 1), dtype: float64)
  Group: 10.4/test4 (keys: ['var1'])
    Dataset: 10.4/test4/var1 (shape: (8, 4), dtype: float64)
Group: 10.5 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.5/test1 (keys: ['var1'])
    Dataset: 10.5/test1/var1 (shape: (), dtype: float64)
  Group: 10.5/test2 (keys: ['var1'])
    Dataset: 10.5/test2/var1 (shape: (), dtype: float64)
  Group: 10.5/test3 (keys: ['var1'])
    Dataset: 10.5/test3/var1 (shape: (), dtype: float64)
  Group: 10.5/test4 (keys: ['var1'])
    Dataset: 10.5/test4/var1 (shape: (), dtype: float64)
Group: 10.6 (keys: ['test1', 'test2', 'test3'])
  Group: 10.6/test1 (keys: ['var1'])
    Dataset: 10.6/test1/var1 (shape: (13, 3), dtype: float64)
  Group: 10.6/test2 (keys: ['var1'])
    Dataset: 10.6/test2/var1 (shape: (62, 3), dtype: float64)
  Group: 10.6/test3 (keys: ['var1'])
    Dataset: 10.6/test3/var1 (shape: (13, 3), dtype: float64)
Group: 10.7 (keys: ['test1', 'test2', 'test3'])
  Group: 10.7/test1 (keys: ['var1', 'var2'])
    Dataset: 10.7/test1/var1 (shape: (13, 3), dtype: float64)
    Dataset: 10.7/test1/var2 (shape: (13,), dtype: float64)
  Group: 10.7/test2 (keys: ['var1', 'var2'])
    Dataset: 10.7/test2/var1 (shape: (13, 3), dtype: float64)
    Dataset: 10.7/test2/var2 (shape: (13,), dtype: float64)
  Group: 10.7/test3 (keys: ['var1', 'var2'])
    Dataset: 10.7/test3/var1 (shape: (13, 3), dtype: float64)
    Dataset: 10.7/test3/var2 (shape: (13,), dtype: float64)
Group: 10.8 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.8/test1 (keys: ['var1'])
    Dataset: 10.8/test1/var1 (shape: (), dtype: float64)
  Group: 10.8/test2 (keys: ['var1'])
    Dataset: 10.8/test2/var1 (shape: (), dtype: float64)
  Group: 10.8/test3 (keys: ['var1'])
    Dataset: 10.8/test3/var1 (shape: (), dtype: float64)
  Group: 10.8/test4 (keys: ['var1'])
    Dataset: 10.8/test4/var1 (shape: (), dtype: float64)
Group: 10.9 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 10.9/test1 (keys: ['var1'])
    Dataset: 10.9/test1/var1 (shape: (), dtype: float64)
  Group: 10.9/test2 (keys: ['var1'])
    Dataset: 10.9/test2/var1 (shape: (), dtype: float64)
  Group: 10.9/test3 (keys: ['var1'])
    Dataset: 10.9/test3/var1 (shape: (), dtype: float64)
  Group: 10.9/test4 (keys: ['var1'])
    Dataset: 10.9/test4/var1 (shape: (), dtype: float64)
Group: 11.1 (keys: ['test1', 'test2', 'test3'])
  Group: 11.1/test1 (keys: ['var1'])
    Dataset: 11.1/test1/var1 (shape: (2, 1), dtype: float64)
  Group: 11.1/test2 (keys: ['var1'])
    Dataset: 11.1/test2/var1 (shape: (4, 1), dtype: float64)
  Group: 11.1/test3 (keys: ['var1'])
    Dataset: 11.1/test3/var1 (shape: (6, 1), dtype: float64)
Group: 11.10 (keys: ['test1', 'test2', 'test3'])
  Group: 11.10/test1 (keys: ['var1'])
    Dataset: 11.10/test1/var1 (shape: (), dtype: float64)
  Group: 11.10/test2 (keys: ['var1'])
    Dataset: 11.10/test2/var1 (shape: (), dtype: float64)
  Group: 11.10/test3 (keys: ['var1'])
    Dataset: 11.10/test3/var1 (shape: (), dtype: float64)
Group: 11.11 (keys: ['test1', 'test2', 'test3'])
  Group: 11.11/test1 (keys: ['var1'])
    Dataset: 11.11/test1/var1 (shape: (), dtype: float64)
  Group: 11.11/test2 (keys: ['var1'])
    Dataset: 11.11/test2/var1 (shape: (), dtype: float64)
  Group: 11.11/test3 (keys: ['var1'])
    Dataset: 11.11/test3/var1 (shape: (), dtype: float64)
Group: 11.12 (keys: ['test1', 'test2', 'test3', 'test4', 'test5'])
  Group: 11.12/test1 (keys: ['var1'])
    Dataset: 11.12/test1/var1 (shape: (), dtype: float64)
  Group: 11.12/test2 (keys: ['var1'])
    Dataset: 11.12/test2/var1 (shape: (), dtype: float64)
  Group: 11.12/test3 (keys: ['var1'])
    Dataset: 11.12/test3/var1 (shape: (), dtype: float64)
  Group: 11.12/test4 (keys: ['var1'])
    Dataset: 11.12/test4/var1 (shape: (), dtype: float64)
  Group: 11.12/test5 (keys: ['var1'])
    Dataset: 11.12/test5/var1 (shape: (), dtype: float64)
Group: 11.2 (keys: ['test1', 'test2', 'test3'])
  Group: 11.2/test1 (keys: ['var1'])
    Dataset: 11.2/test1/var1 (shape: (4, 4), dtype: float64)
  Group: 11.2/test2 (keys: ['var1'])
    Dataset: 11.2/test2/var1 (shape: (16, 16), dtype: float64)
  Group: 11.2/test3 (keys: ['var1'])
    Dataset: 11.2/test3/var1 (shape: (64, 64), dtype: float64)
Group: 11.3 (keys: ['test1', 'test2', 'test3'])
  Group: 11.3/test1 (keys: ['var1'])
    Dataset: 11.3/test1/var1 (shape: (4,), dtype: int32)
  Group: 11.3/test2 (keys: ['var1'])
    Dataset: 11.3/test2/var1 (shape: (9, 9), dtype: float64)
  Group: 11.3/test3 (keys: ['var1'])
    Dataset: 11.3/test3/var1 (shape: (4, 4), dtype: float64)
Group: 11.4 (keys: ['test1', 'test2', 'test3'])
  Group: 11.4/test1 (keys: ['var1'])
    Dataset: 11.4/test1/var1 (shape: (2, 2), dtype: float64)
  Group: 11.4/test2 (keys: ['var1'])
    Dataset: 11.4/test2/var1 (shape: (4, 4), dtype: float64)
  Group: 11.4/test3 (keys: ['var1'])
    Dataset: 11.4/test3/var1 (shape: (4, 4), dtype: float64)
Group: 11.5 (keys: ['test1', 'test2', 'test3'])
  Group: 11.5/test1 (keys: ['var1'])
    Dataset: 11.5/test1/var1 (shape: (4, 2, 2), dtype: float64)
  Group: 11.5/test2 (keys: ['var1'])
    Dataset: 11.5/test2/var1 (shape: (4, 2, 2), dtype: float64)
  Group: 11.5/test3 (keys: ['var1'])
    Dataset: 11.5/test3/var1 (shape: (4, 2, 2), dtype: float64)
Group: 11.6 (keys: ['test1', 'test2', 'test3'])
  Group: 11.6/test1 (keys: ['var1'])
    Dataset: 11.6/test1/var1 (shape: (16, 16), dtype: float64)
  Group: 11.6/test2 (keys: ['var1'])
    Dataset: 11.6/test2/var1 (shape: (16, 16), dtype: float64)
  Group: 11.6/test3 (keys: ['var1'])
    Dataset: 11.6/test3/var1 (shape: (16, 16), dtype: float64)
Group: 11.7 (keys: ['test1', 'test2', 'test3'])
  Group: 11.7/test1 (keys: ['var1'])
    Dataset: 11.7/test1/var1 (shape: (4, 4), dtype: float64)
  Group: 11.7/test2 (keys: ['var1'])
    Dataset: 11.7/test2/var1 (shape: (16, 16), dtype: float64)
  Group: 11.7/test3 (keys: ['var1'])
    Dataset: 11.7/test3/var1 (shape: (64, 64), dtype: float64)
Group: 11.8 (keys: ['test1', 'test2', 'test3'])
  Group: 11.8/test1 (keys: ['var1'])
    Dataset: 11.8/test1/var1 (shape: (4, 4), dtype: int32)
  Group: 11.8/test2 (keys: ['var1'])
    Dataset: 11.8/test2/var1 (shape: (4, 4), dtype: int32)
  Group: 11.8/test3 (keys: ['var1'])
    Dataset: 11.8/test3/var1 (shape: (8, 8), dtype: int32)
Group: 11.9 (keys: ['test1', 'test2', 'test3'])
  Group: 11.9/test1 (keys: ['var1'])
    Dataset: 11.9/test1/var1 (shape: (2, 2), dtype: int32)
  Group: 11.9/test2 (keys: ['var1'])
    Dataset: 11.9/test2/var1 (shape: (3, 3), dtype: int32)
  Group: 11.9/test3 (keys: ['var1'])
    Dataset: 11.9/test3/var1 (shape: (2, 2), dtype: float64)
Group: 12.1 (keys: ['test1', 'test2', 'test3'])
  Group: 12.1/test1 (keys: ['var1'])
    Dataset: 12.1/test1/var1 (shape: (3,), dtype: float64)
  Group: 12.1/test2 (keys: ['var1'])
    Dataset: 12.1/test2/var1 (shape: (20,), dtype: float64)
  Group: 12.1/test3 (keys: ['var1'])
    Dataset: 12.1/test3/var1 (shape: (10,), dtype: float64)
Group: 12.10 (keys: ['test1', 'test2', 'test3'])
  Group: 12.10/test1 (keys: ['var1'])
    Dataset: 12.10/test1/var1 (shape: (2000,), dtype: float64)
  Group: 12.10/test2 (keys: ['var1'])
    Dataset: 12.10/test2/var1 (shape: (2000,), dtype: float64)
  Group: 12.10/test3 (keys: ['var1'])
    Dataset: 12.10/test3/var1 (shape: (2000,), dtype: float64)
Group: 12.11 (keys: ['test1', 'test2', 'test3'])
  Group: 12.11/test1 (keys: ['var1'])
    Dataset: 12.11/test1/var1 (shape: (), dtype: float64)
  Group: 12.11/test2 (keys: ['var1'])
    Dataset: 12.11/test2/var1 (shape: (), dtype: float64)
  Group: 12.11/test3 (keys: ['var1'])
    Dataset: 12.11/test3/var1 (shape: (), dtype: float64)
Group: 12.12 (keys: ['test1', 'test2', 'test3'])
  Group: 12.12/test1 (keys: ['var1'])
    Dataset: 12.12/test1/var1 (shape: (3, 2), dtype: float64)
  Group: 12.12/test2 (keys: ['var1'])
    Dataset: 12.12/test2/var1 (shape: (2, 2), dtype: float64)
  Group: 12.12/test3 (keys: ['var1'])
    Dataset: 12.12/test3/var1 (shape: (2, 2), dtype: float64)
Group: 12.13 (keys: ['test1', 'test2', 'test3'])
  Group: 12.13/test1 (keys: ['var1', 'var2'])
    Dataset: 12.13/test1/var1 (shape: (2000,), dtype: float64)
    Dataset: 12.13/test1/var2 (shape: (), dtype: float64)
  Group: 12.13/test2 (keys: ['var1', 'var2'])
    Dataset: 12.13/test2/var1 (shape: (2000,), dtype: float64)
    Dataset: 12.13/test2/var2 (shape: (), dtype: float64)
  Group: 12.13/test3 (keys: ['var1', 'var2'])
    Dataset: 12.13/test3/var1 (shape: (2000,), dtype: float64)
    Dataset: 12.13/test3/var2 (shape: (), dtype: float64)
Group: 12.14 (keys: ['test1', 'test2', 'test3'])
  Group: 12.14/test1 (keys: ['var1', 'var2'])
    Dataset: 12.14/test1/var1 (shape: (16385,), dtype: float64)
    Dataset: 12.14/test1/var2 (shape: (), dtype: float64)
  Group: 12.14/test2 (keys: ['var1', 'var2'])
    Dataset: 12.14/test2/var1 (shape: (16385,), dtype: float64)
    Dataset: 12.14/test2/var2 (shape: (), dtype: float64)
  Group: 12.14/test3 (keys: ['var1', 'var2'])
    Dataset: 12.14/test3/var1 (shape: (16385,), dtype: float64)
    Dataset: 12.14/test3/var2 (shape: (), dtype: float64)
Group: 12.2 (keys: ['test1', 'test2', 'test3'])
  Group: 12.2/test1 (keys: ['var1'])
    Dataset: 12.2/test1/var1 (shape: (20,), dtype: float64)
  Group: 12.2/test2 (keys: ['var1'])
    Dataset: 12.2/test2/var1 (shape: (20,), dtype: float64)
  Group: 12.2/test3 (keys: ['var1'])
    Dataset: 12.2/test3/var1 (shape: (20,), dtype: float64)
Group: 12.3 (keys: ['test1', 'test2', 'test3'])
  Group: 12.3/test1 (keys: ['var1'])
    Dataset: 12.3/test1/var1 (shape: (20,), dtype: float64)
  Group: 12.3/test2 (keys: ['var1'])
    Dataset: 12.3/test2/var1 (shape: (10,), dtype: float64)
  Group: 12.3/test3 (keys: ['var1'])
    Dataset: 12.3/test3/var1 (shape: (20,), dtype: float64)
Group: 12.4 (keys: ['test1', 'test2', 'test3'])
  Group: 12.4/test1 (keys: ['var1'])
    Dataset: 12.4/test1/var1 (shape: (), dtype: float64)
  Group: 12.4/test2 (keys: ['var1'])
    Dataset: 12.4/test2/var1 (shape: (), dtype: float64)
  Group: 12.4/test3 (keys: ['var1'])
    Dataset: 12.4/test3/var1 (shape: (), dtype: float64)
Group: 12.5 (keys: ['test1', 'test2', 'test3'])
  Group: 12.5/test1 (keys: ['var1'])
    Dataset: 12.5/test1/var1 (shape: (6, 2), dtype: float64)
  Group: 12.5/test2 (keys: ['var1'])
    Dataset: 12.5/test2/var1 (shape: (5, 2), dtype: float64)
  Group: 12.5/test3 (keys: ['var1'])
    Dataset: 12.5/test3/var1 (shape: (8, 2), dtype: float64)
Group: 12.6 (keys: ['test1', 'test2', 'test3'])
  Group: 12.6/test1 (keys: ['var1'])
    Dataset: 12.6/test1/var1 (shape: (34, 2), dtype: float64)
  Group: 12.6/test2 (keys: ['var1'])
    Dataset: 12.6/test2/var1 (shape: (21, 2), dtype: float64)
  Group: 12.6/test3 (keys: ['var1'])
    Dataset: 12.6/test3/var1 (shape: (8, 2), dtype: float64)
Group: 12.7 (keys: ['test1', 'test2', 'test3'])
  Group: 12.7/test1 (keys: ['var1'])
    Dataset: 12.7/test1/var1 (shape: (2000,), dtype: float64)
  Group: 12.7/test2 (keys: ['var1'])
    Dataset: 12.7/test2/var1 (shape: (2000,), dtype: float64)
  Group: 12.7/test3 (keys: ['var1'])
    Dataset: 12.7/test3/var1 (shape: (2000,), dtype: float64)
Group: 12.8 (keys: ['test1', 'test2', 'test3'])
  Group: 12.8/test1 (keys: ['var1'])
    Dataset: 12.8/test1/var1 (shape: (2000,), dtype: float64)
  Group: 12.8/test2 (keys: ['var1'])
    Dataset: 12.8/test2/var1 (shape: (2000,), dtype: float64)
  Group: 12.8/test3 (keys: ['var1'])
    Dataset: 12.8/test3/var1 (shape: (2000,), dtype: float64)
Group: 12.9 (keys: ['test1', 'test2', 'test3'])
  Group: 12.9/test1 (keys: ['var1'])
    Dataset: 12.9/test1/var1 (shape: (2000,), dtype: float64)
  Group: 12.9/test2 (keys: ['var1'])
    Dataset: 12.9/test2/var1 (shape: (2000,), dtype: float64)
  Group: 12.9/test3 (keys: ['var1'])
    Dataset: 12.9/test3/var1 (shape: (2000,), dtype: float64)
Group: 13.1 (keys: ['test1', 'test2', 'test3'])
  Group: 13.1/test1 (keys: ['var1', 'var2', 'var3'])
    Dataset: 13.1/test1/var1 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.1/test1/var2 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.1/test1/var3 (shape: (100, 100, 100), dtype: float64)
  Group: 13.1/test2 (keys: ['var1', 'var2', 'var3'])
    Dataset: 13.1/test2/var1 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.1/test2/var2 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.1/test2/var3 (shape: (100, 100, 100), dtype: float64)
  Group: 13.1/test3 (keys: ['var1', 'var2', 'var3'])
    Dataset: 13.1/test3/var1 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.1/test3/var2 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.1/test3/var3 (shape: (100, 100, 100), dtype: float64)
Group: 13.10 (keys: ['test1', 'test2', 'test3'])
  Group: 13.10/test1 (keys: ['var1'])
    Dataset: 13.10/test1/var1 (shape: (7, 50, 50, 50), dtype: float64)
  Group: 13.10/test2 (keys: ['var1'])
    Dataset: 13.10/test2/var1 (shape: (7, 50, 50, 50), dtype: float64)
  Group: 13.10/test3 (keys: ['var1'])
    Dataset: 13.10/test3/var1 (shape: (7, 50, 50, 50), dtype: float64)
Group: 13.11 (keys: ['test1', 'test2', 'test3'])
  Group: 13.11/test1 (keys: ['var1', 'var2'])
    Dataset: 13.11/test1/var1 (shape: (), dtype: float64)
    Dataset: 13.11/test1/var2 (shape: (7, 50, 50, 50), dtype: float64)
  Group: 13.11/test2 (keys: ['var1', 'var2'])
    Dataset: 13.11/test2/var1 (shape: (), dtype: float64)
    Dataset: 13.11/test2/var2 (shape: (7, 50, 50, 50), dtype: float64)
  Group: 13.11/test3 (keys: ['var1', 'var2'])
    Dataset: 13.11/test3/var1 (shape: (), dtype: float64)
    Dataset: 13.11/test3/var2 (shape: (7, 50, 50, 50), dtype: float64)
Group: 13.12 (keys: ['test1', 'test2', 'test3'])
  Group: 13.12/test1 (keys: ['var1'])
    Dataset: 13.12/test1/var1 (shape: (), dtype: float64)
  Group: 13.12/test2 (keys: ['var1'])
    Dataset: 13.12/test2/var1 (shape: (), dtype: float64)
  Group: 13.12/test3 (keys: ['var1'])
    Dataset: 13.12/test3/var1 (shape: (), dtype: float64)
Group: 13.13 (keys: ['test1', 'test2', 'test3'])
  Group: 13.13/test1 (keys: ['var1'])
    Dataset: 13.13/test1/var1 (shape: (10,), dtype: float64)
  Group: 13.13/test2 (keys: ['var1'])
    Dataset: 13.13/test2/var1 (shape: (10,), dtype: float64)
  Group: 13.13/test3 (keys: ['var1'])
    Dataset: 13.13/test3/var1 (shape: (10,), dtype: float64)
Group: 13.14 (keys: ['test1', 'test2', 'test3'])
  Group: 13.14/test1 (keys: ['var1', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7'])
    Dataset: 13.14/test1/var1 (shape: (50, 50, 50), dtype: float64)
    Dataset: 13.14/test1/var2 (shape: (50, 50, 50), dtype: float64)
    Dataset: 13.14/test1/var3 (shape: (50, 50, 50), dtype: float64)
    Dataset: 13.14/test1/var4 (shape: (50, 50, 50), dtype: float64)
    Dataset: 13.14/test1/var5 (shape: (50, 50, 50), dtype: float64)
    Dataset: 13.14/test1/var6 (shape: (50, 50, 50), dtype: float64)
    Dataset: 13.14/test1/var7 (shape: (50, 50, 50), dtype: float64)
  Group: 13.14/test2 (keys: ['var1', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7'])
    Dataset: 13.14/test2/var1 (shape: (20, 20, 20), dtype: float64)
    Dataset: 13.14/test2/var2 (shape: (20, 20, 20), dtype: float64)
    Dataset: 13.14/test2/var3 (shape: (20, 20, 20), dtype: float64)
    Dataset: 13.14/test2/var4 (shape: (20, 20, 20), dtype: float64)
    Dataset: 13.14/test2/var5 (shape: (20, 20, 20), dtype: float64)
    Dataset: 13.14/test2/var6 (shape: (20, 20, 20), dtype: float64)
    Dataset: 13.14/test2/var7 (shape: (20, 20, 20), dtype: float64)
  Group: 13.14/test3 (keys: ['var1', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7'])
    Dataset: 13.14/test3/var1 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.14/test3/var2 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.14/test3/var3 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.14/test3/var4 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.14/test3/var5 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.14/test3/var6 (shape: (100, 100, 100), dtype: float64)
    Dataset: 13.14/test3/var7 (shape: (100, 100, 100), dtype: float64)
Group: 13.15 (keys: ['test1', 'test2', 'test3', 'test4'])
  Group: 13.15/test1 (keys: ['var1'])
    Dataset: 13.15/test1/var1 (shape: (10,), dtype: float64)
  Group: 13.15/test2 (keys: ['var1'])
    Dataset: 13.15/test2/var1 (shape: (10,), dtype: float64)
  Group: 13.15/test3 (keys: ['var1'])
    Dataset: 13.15/test3/var1 (shape: (10,), dtype: float64)
  Group: 13.15/test4 (keys: ['var1'])
    Dataset: 13.15/test4/var1 (shape: (20,), dtype: float64)
Group: 13.2 (keys: ['test1', 'test2', 'test3'])
  Group: 13.2/test1 (keys: ['var1'])
    Dataset: 13.2/test1/var1 (shape: (100, 100, 100), dtype: float64)
  Group: 13.2/test2 (keys: ['var1'])
    Dataset: 13.2/test2/var1 (shape: (100, 100, 100), dtype: float64)